<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>servelets.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartQuantityUpdate</servlet-name>
        <servlet-class>servelets.CartQuantityUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servelets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartproductremove</servlet-name>
        <servlet-class>servelets.cartproductremove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartqytremove</servlet-name>
        <servlet-class>servelets.cartqytremove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartquantityRemove</servlet-name>
        <servlet-class>servelets.CartquantityRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrder</servlet-name>
        <servlet-class>servelets.PlaceOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>servelets.addProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartQuantityUpdate</servlet-name>
        <url-pattern>/CartQuantityUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartproductremove</servlet-name>
        <url-pattern>/cartproductremove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartqytremove</servlet-name>
        <url-pattern>/cart-remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartquantityRemove</servlet-name>
        <url-pattern>/CartquantityRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrder</servlet-name>
        <url-pattern>/PlaceOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
